@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Montserrat:wght@600&display=swap');

:root {
    /* cores */
--cor-fundo-1: #4E4641;
--cor-fundo-2: #2D2825;
--cor-primaria: #FAA300;
--cor-secundaria: #FFFDED;

    /* fontes */
--fonte-primaria: "Amatic SC", sans-serif;
--fonte-secundaria: "Montserrat", sans-serif;

/* padding faixas em cima e embaixo */
--pading-faixas: 1.3% 0 1.3% 0;
}

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background: linear-gradient(to bottom, var(--cor-fundo-1), var(--cor-fundo-2));
}

.cabecalho {
    padding: var(--pading-faixas);
    background-color: var(--cor-primaria);
}

.cabecalho__menu {
    padding-left: 25%;
    display: flex;
    gap: 50px;
}

.cabecalho__menu__link {
    text-decoration: none;
    font-family: var(--fonte-secundaria);
    font-size: 1rem;
    font-weight: 400;
    color: var(--cor-fundo-2);
    transition: all .35s;
}

.cabecalho__menu__link:hover {
    color: var(--cor-secundaria);
}

.pagina__principal {
    display: flex;
}

.pagina__principal__esquerda {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 1.5rem;
    width: 50%;
    padding: 3% 0 3% 20%;
}

.foto__rosto {
    width: 80%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 4px 4px 2px var(--cor-fundo-2);
}

.titulo__principal {
    color: var(--cor-primaria);
    font-style: bold;
    font-size: 3rem;
    font-family: var(--fonte-primaria);
    font-weight: 700;
    font-style: normal;
    text-shadow: 4px 4px 7px var(--cor-fundo-2);
    text-align: center;
    transition: 10s;
}

.titulo__principal:hover {
    color: var(--cor-secundaria);
}

.pagina__principal__direita {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    gap: 1rem;
    padding: 3% 20% 3% 0;
}

.botao__links__direita {
    text-decoration: none;
    background-color: var(--cor-primaria);
    width: 70%;
    text-align: center;
    border-radius: 10px;
    padding: 5%;
    font-family: var(--fonte-secundaria);
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 1.2rem;
    color: var(--cor-fundo-2);
    box-shadow: 4px 4px 2px var(--cor-fundo-2);
    transition: all .35s;
    position: relative;
}

.botao__links__direita:hover {
   background-color: var(--cor-secundaria);
   color: var(--cor-primaria);
}

.rodape {
    padding: var(--pading-faixas);
    color: var(--cor-fundo-2);
    background-color: var(--cor-primaria);
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 1rem;
}

/* CSS exclusivo da página about */

.pagina__about {
    display: flex;
    min-height: 100vh;
}

.esquerda__about {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 50%;
    padding: 2% 0 3% 10%;
}

.titulo__about {
    color: var(--cor-primaria);
    font-style: bold;
    font-size: 3rem;
    font-family: var(--fonte-primaria);
    font-weight: 700;
    font-style: normal;
    text-shadow: 4px 4px 7px var(--cor-fundo-2);
    text-align: center;
    transition: 10s;
    padding-bottom: 1rem;
}

.paragrafo__about {
    font-family: var(--fonte-secundaria);
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 1rem;
    color: var(--cor-secundaria);
    text-indent: 3rem;
    text-align: justify;
}

.direita__about {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    justify-content: center;
    padding: 7% 5% 3% 0;
}

.imagen__about {
    width: 320px;
    border-radius: 10px;
    box-shadow: 4px 4px 2px var(--cor-fundo-2);
}

/* CSS adaptado para telas menores */

@media (max-width:860px) {
    .cabecalho {
        padding: 4%;
    }

    .cabecalho__menu {
        justify-content: center;
        padding-left: 0;
    }

    .pagina__principal {
        flex-direction: column;
    }

    .pagina__principal__esquerda {
        width: auto;
        padding: 6% 0 3%;
    }

    .pagina__principal__direita {
        width: auto;
        padding: 3% 0 6%;
    }

    .pagina__about {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .esquerda__about {
        width: 90%;
        padding: 6% 0 3%;
    }

    .direita__about {
        width: auto;
        padding: 3% 0 6%;
    }
}