@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Montserrat:wght@600&display=swap');

:root {
    /* cores */
--cor-fundo-1: #717343;
--cor-fundo-2: #262614;
--cor-primaria: #F29A2E;
--cor-secundaria: #f4ead8;

    /* fontes */
--fonte-primaria: "Amatic SC", sans-serif;
--fonte-secundaria: "Montserrat", sans-serif;

/* padding faixas em cima e embaixo */
--pading-faixas: 1.5% 0 1.5% 0;
}

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100%;    
    box-sizing: border-box;
    background: linear-gradient(to bottom, var(--cor-fundo-1), var(--cor-fundo-2));
}

.cabecalho {
    padding: var(--pading-faixas);
    background-color: var(--cor-primaria);
}

.cabecalho__menu {
    padding-left: 20%;
    display: flex;
    gap: 50px;
}

.cabecalho__menu__link {
    text-decoration: none;
    font-family: var(--fonte-secundaria);
    font-size: 18px;
    font-weight: 400;
    color: var(--cor-secundaria);
    transition: all .35s;
}

.cabecalho__menu__link:hover {
    color: var(--cor-fundo-2);
}

.titulo__principal {
    color: var(--cor-primaria);
    padding: 2rem 0 1rem 0;
    font-style: bold;
    font-size: 56px;
    text-align: center;
    font-family: var(--fonte-primaria);
    font-weight: 700;
    font-style: normal;
    text-shadow: 4px 4px 7px var(--cor-fundo-2);
    transition: 10s;
}

.titulo__principal:hover {
    color: var(--cor-secundaria);
}

.pagina__principal {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    margin: 5%;
}

.pagina__principal__esqueda {
    display: flex;
    flex-direction: column;
}

.foto__rosto {
    width: 320px;
    border-radius: 10px;
    box-shadow: 4px 4px 7px var(--cor-fundo-2);
}

.pagina__principal__direita {
    display: flex;
    flex-direction: column;
    gap: 28px;
}

.botao__links__direita {
    text-decoration: none;
    background-color: var(--cor-primaria);
    width: 320px;
    text-align: center;
    border-radius: 10px;
    padding: 6%;
    font-family: var(--fonte-secundaria);
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 24px;
    color: var(--cor-fundo-2);
    box-shadow: 4px 4px 7px var(--cor-fundo-2);
    transition: all .35s;
    position: relative;
}

.botao__links__direita:hover {
   background-color: var(--cor-secundaria);
   color: var(--cor-primaria);
}

.rodape {
    padding: var(--pading-faixas);
    color: var(--cor-secundaria);
    background-color: var(--cor-primaria);
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 18px;
}

.principal__texto {
    font-family: var(--fonte-secundaria);
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 18px;
    color: var(--cor-secundaria);
    padding: 1% 6%;
    text-indent: 3rem;
    text-align: justify;
}

.texto__about {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.imagens__about {
    width: 320px;
    border-radius: 10px;
}

.div__about {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1% 8%;
    padding: 1rem 0 3rem 0
}